.contact-form {
    label {
        display: block;
        margin-bottom: 0;
        text-align: left;
        padding-left: 0.5rem;
        color: #1f1f25;
        &.error {
            color: red;
        }
    }

    input,
    textarea {
        display: block;
        width: 100%;
        padding: 0 20px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        transition: all 0.3s ease;
        height: 50px;
        line-height: 46px;
        outline: none;
        color: #1f1f25;
        font-size: 15px;
        letter-spacing: 0.1px;
        &:focus {
            border-color: $theme-color;
        }
        &.error {
            border-color: red;
        }
    }
    textarea {
        height: 120px;
    }
    button {
        margin-top: 1rem;
    }
    .img-contact {
        display: none;
        @media #{$xl-breakdown} {
            display: block;
        }
        .thumbnail {
            text-align: center;
        }
    }
}

input,
textarea {
    @extend %transition;
}
