/*----------------------
Slider Default Style
------------------------*/
.slide {
    .inner {
        padding-top: 75px;
        @media #{$sm-layout} {
            padding-top: 70px;
        }
        @media #{$large-mobile} {
            padding-top: 30px;
        }
        h1 {
            &.title {
                font-size: 125px;
                font-weight: 900;
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;
                font-weight: 900;
                line-height: 130px;
                @media #{$laptop-device} {
                    font-size: 100px;
                    line-height: 112px;
                }
                @media #{$lg-layout} {
                    font-size: 90px;
                    line-height: 103px;
                }
                @media #{$md-layout} {
                    font-size: 70px;
                    line-height: 82px;
                    margin-bottom: 0;
                }
                @media #{$sm-layout} {
                    font-size: 50px;
                    line-height: 70px;
                    margin-bottom: 0;
                }
                @media #{$large-mobile} {
                    font-size: 40px;
                    line-height: 50px;
                    margin-bottom: 20px;
                }
            }
        }
        p {
            color: #fff;
        }
    }

    &.slider-style-3 {
        background-image: url(/assets/images/presentation.jpg);

        .inner {
            > span {
                color: #fff;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 4px;
                display: block;
                margin-bottom: 20px;
                @media #{$sm-layout} {
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }
            h1 {
                &.title {
                    color: #fff;
                    font-size: 50px;
                    font-weight: 900;
                    font-family: "Montserrat", sans-serif;
                    line-height: 80px;
                    text-transform: inherit;
                    width: 80%;

                    @media #{$lg-layout} {
                        font-size: 70px;
                    }

                    @media #{$md-layout} {
                        font-size: 60px;
                        line-height: 77px;
                        width: 85%;
                    }

                    @media #{$sm-layout} {
                        font-size: 42px;
                        line-height: 57px;
                        width: 100%;
                    }

                    span {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

/*=======================
    Slider Paralax
=========================*/

.slider-paralax,
.rn-paralax {
    height: 950px;
    @media #{$sm-layout} {
        height: auto;
    }
    @media #{$laptop-device} {
        height: auto;
        padding-top: 150px;
        padding-bottom: 410px;
    }
    @media #{$md-layout} {
        height: auto;
    }
    @media #{$lg-layout} {
        height: auto;
        padding-bottom: 290px !important;
    }
}

.theme-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.thumbnail img {
    opacity: 0.95;
}
