.Toaster__alert {
    padding: 0 !important;

    .toaster-success {
        color: 000;
        font-weight: 700;
        background-color: green !important;
        color: #fff;
        padding: 1rem;
    }
    .toaster-fail {
        color: white;
        font-weight: 700;
        background-color: $pinterest !important;
        padding: 1rem;
    }
}
.Toaster__alert_close {
    display: none;
}
