.project-list-container {
    margin: auto;
    table {
        line-height: 1.2;
        box-shadow: -2px -2px 4px $dark;
        border-radius: 4px;
        margin: 2em;
        width: 96%;
        tr {
            width: 100%;
            th {
                padding: 1em;
                text-align: center;
                vertical-align: middle;
                box-shadow: 2px 2px 4px #000;
            }
            &.project-main-categories {
                th {
                    &:nth-of-type(3) {
                        width: 1%;
                    }
                    &:nth-of-type(4) {
                        width: 110px;
                    }
                }
            }
            &.project-categories {
                th {
                    &:nth-of-type(1) {
                        width: 12%;
                    }
                    &:nth-of-type(2) {
                        width: auto;
                    }
                    &:nth-of-type(3) {
                        width: 18%;
                    }
                    &:nth-of-type(4) {
                        width: 18%;
                    }
                    &:nth-of-type(5) {
                        width: 1%;
                    }
                    &:nth-of-type(6) {
                        width: 8%;
                    }
                    &:nth-of-type(7) {
                        width: 3%;
                    }
                }
            }
            td {
                padding: 0 0.5em;
                box-shadow: 2px 2px 4px $dark;
                border-top: 1pt solid $dark;
                text-align: center;
                word-break: break-word;
                .switch {
                    margin: 0.1em 0 0 0.25em;
                    .slider.round {
                        border-radius: 5px;
                    }
                }
                &.actions {
                    padding: 0.25em;
                    span:nth-of-type(1) {
                        margin: 0 0.25em;
                        svg {
                            cursor: pointer;
                            font-size: 2.8em;
                            color: #333333;
                            &:hover {
                                color: #000;
                            }
                        }
                    }
                    span:nth-of-type(2) {
                        svg {
                            cursor: pointer;
                            font-size: 2.4em;
                            color: #333333;
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}
