@import "./navbar";
@import "./sidebar";
@import "./form";
@import "./projectList.scss";

#root,
html,
body {
    height: 100%;
    overflow: inherit;
}
.dashboard {
    * {
        padding: 0;
    }
    display: grid;
    grid-template-columns: minmax(150px, 10%) auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "nav nav"
        "sidebar main-layout";
    width: 100%;
    background-color: $theme-color;
    height: 100%;

    .main-container {
        grid-area: main-layout;
        background-color: darken($theme-color, 3%);
        padding-bottom: 2em;
        h1 {
            border-radius: 0 0 30px 30px;
            margin: auto;
            width: fit-content;
            background-color: $dark;
            text-align: center;
            color: $theme-color;
            text-shadow: 3px 3px 5px #000, -1px -1px 3px #000;
            padding: 0.25em 0.5em 0.5em;
            font-size: 2em;
        }
    }
}
