@import "./navbar";
@import "./sidebar";
@import "./form";

#root,
html,
body {
    height: 100%;
    overflow: inherit;
}
.dashboard {
    * {
        margin: 0;
        padding: 0;
    }

    width: 100%;
    height: 100%;

    .main-layout {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        .main-container {
            width: 85%;
            background-color: $theme-color;
            height: 100%;
        }
    }
}
