/*====================
    About Area
======================*/

.about-inner {
    @media #{$md-layout} {
        padding-top: 40px;
    }
    @media #{$sm-layout} {
        padding-top: 40px;
    }
    .section-title {
        h2 {
            &.title {
                margin-bottom: 0.25em;
            }
        }
        p {
            &.description {
                font-weight: 300;
                color: #332e2e;
                font-size: 1.2em;
                line-height: 1.8em;
                text-align: justify;
                a {
                    color: rgba(29, 29, 36, 1);
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
    .tab-container {
        min-height: 300px;
    }
}

.about-wrapper {
    img {
        max-width: 300px;
    }
    @media #{$lg-layout} {
        padding-bottom: 137px;
    }
    @media #{$lg-breakdown} {
        img {
            max-width: 400px;
        }
    }
    @media #{$xl-breakdown} {
        img {
            max-width: 500px;
        }
    }
    .thumbnail {
        z-index: 2;
        img {
            border-radius: 8px;
            height: auto;
            width: 100%;
        }
        width: 100%;
        margin: auto;
    }
}

.about-position-top {
    @media #{$md-layout} {
        padding-top: 80px;
    }
    @media #{$sm-layout} {
        padding-top: 60px;
    }
    .thumbnail {
        margin-top: 82px;
        @media #{$lg-layout} {
            margin-top: 100px;
        }
        @media #{$laptop-device} {
            margin-top: 110px;
        }
        @media #{$md-layout} {
            margin-top: 0;
        }
        @media #{$sm-layout} {
            margin-top: 0;
        }
    }
}
